.contact-zone {
    width: 1000px;
}

.contact-form input, #message {
    border: 1px solid #dadada;
    border-radius: 4px;
    width: 100%;
    max-width: 500px;
}

.submit {
    margin: 0 50%;
    background-color: #0d6efd;
    border: none;
    border-radius: 10px;
}

.contact-links a {
    text-decoration: none;
    color: #000;
}

.contact-links a:hover {
    text-decoration: underline;
}

.contact-object {
    width: 50%;
    box-sizing: border-box;
}

.box-title {
    border-bottom: 4px solid #0d6efd;
}

#message {
    height: 30vh;
    max-height: 400px;
}

@media (max-width: 430px) {
    .contact-zone {
        display: flex;
        flex-direction: column;
    }

    .contact-object {
        min-width: 300px;
        max-width: 420px;
    }
}