/* Header CSS */

.nav-link.active {
  text-decoration: underline;    
}

@media (min-width: 2560px) {
  .header, .footer, .brand, .foot-subtitle {
      font-size: xx-large;
  }

  .foot-subtitle {
    font-weight: bold;
  }
}

/* Footer CSS */

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  font-weight: bold;
}

.bi-links {
  color: #adb5bd;
}

.bi-links:hover {
  color: #fff;
}
