.legal-links a {
    text-decoration: none;
    color: #000;
}

.legal-links a:hover {
    text-decoration: underline;
}

.section-accordion {
    width: 80%;
    margin-left: 10%;
} 

@media (min-width: 2560px) {
    .legalinfo {
        height: 80vh;
        font-size: xx-large;
    }
    
    .legalinfo button, h2, h3 {
        font-size: xx-large;
    }
}