.firstdiv {
    border-bottom: 5px solid #0d6efd;
    margin-left: 35%;
    margin-right: 35%;
}

.banner-img {
    width: 100%;
}

.offers {
    border: 2px solid #adb5bd;
    border-radius: 3px;
    height: 380px;
    width: 400px;
}

.bi-offers {
    color: #0d6efd;
}
