/* Services CSS */

.banner-img {
    width: 100%;
}

.offers {
    border: 2px solid #adb5bd;
    border-radius: 3px;
    height: 380px;
    width: 400px;
}

.bi-offers {
    color: #0d6efd;
}

.offers:hover {
  box-shadow: 0 30px 50px #adb5bd;
  transition: 0.6s ease;
  background-color: #d0d0d0;
}


/* Portfolio CSS */ 

.portfolio-btn {
    background-color: #0d6efd;
}

.portfolio-box {
    border: 2px solid #d0d0d0;
    border-radius: 8px;
    max-width: 450px;
    max-height: 480px;
    overflow: hidden;
}

.portfolio-box img {
    height: 270px;
    width: 450px;
}

.realized {
    background-color: #f9f9f9;
    border-top: 2px solid #d0d0d0;
}

@media (max-width: 425px) {
    .portfolio-box {
        max-height: none;
    }
}

@media (min-width: 2560px) {
    .portfolio-box, .portfolio-btn, .firstdiv, .offers-large {
        font-size: xx-large;
        max-height: 1100px;
        max-width: 800px;
    }

    .portfolio-box img {
        width: 800px;
        height: 600px;
    }

    .offer-box {
        height: 40vh;
    }

    .offers {
        width: 100%;
        height: 100%;
    }
}